<% content_for :javascript, render(:partial => "javascript") %>

<div class="block">
	<div class="content">
		<div class="content-header">
			<div class="control">
				<%= link_to_new(Task) %>
			</div>
			<h2 class="title">
				<%= t("application.tasks", :default => "Tasks")  %>
			</h2>
		</div>
		<div class="inner">
			<div id="data_view">
				<% if @next_week.size > 0 %>
					<%= render :partial => "full_list", :locals => { :title => t("application.task.next_week"), :tasks => @next_week } %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') %>