#main {
	width: 77%;
}

#sidebar {
	width: 21%;
	max-width: 260px;
}

#sidebar ul.navigation li.last, li.last {
	border-bottom: none;
}

#sidebar ul.navigation li.selected {
	background-color: #E6EFF3;
	border-bottom-color: #DADEE5;
	font-weight: bold;
}

#header {
	background: #002134 url(/images/header.png) repeat-x;
}

#header h1 {
	padding: 5px 0;
}

body {
	background-color: #E3E7EA;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", helvetica, arial, verdana, sans-serif;
}

.flash {
	left: 35%;
    min-width: 300px;
    position: absolute;
    top: 5px;
    width: 30%;
}

.flash .notice {
	background: #333;
	border: 1px solid #333;
	opacity: 0.8;
	color: #fff;
	font-size: 1.1em;
	text-shadow: 2px 2px 0px #000;
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, 0.8);
	box-shadow:0 0 4px rgba(0, 0, 0, 0.8);
}

h3 {
	font-size: 1.3em;
}

#sidebar h3 {
	padding: 5px 10px;
}

#main .block, #sidebar .notice, #box .block {
	border-width: 1px;
	border-style: solid;
	border-top-color: #ccc;
	border-right-color: #bbb;
	border-bottom-color: #bbb;
	border-left-color: #ccc;
}

#main .block .content p {
	font-size: 12px;
}

#main-navigation {
	background: none;
}

#main-navigation ul li {
	margin: 0 1px;
	padding: 0;
}

#main-navigation a img {
	margin-right: 4px;
	vertical-align: bottom;
}

#main-navigation ul li a {
	color: #fff !important;
	text-shadow: #555 1px 1px 1px;
	font-weight: bold;
	background: #8a9cb9;
	padding: 5px 14px 8px 14px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	background: url(/images/menu-bg.png) bottom repeat-x;
}

#main-navigation ul li a:hover {
	background: url(/images/menu-bg.png) 0 -14px repeat-x;
}

#main-navigation ul li a.current {
	background: #E3E7EA;
	color: #333 !important;
	text-shadow: #fff 1px 1px 1px;
}

.notice h3 img {
	vertical-align: middle;
}

a.button, button.button {
	font-family: inherit;
	margin-right: 0;
}

.button {
	padding: 5px 7px;
}

button.button 

span.text_button_padding {
	padding-left: 10px;
}


/*
* Content
*/

.content .column_left {
  float:left;
  width:47%;
  margin-left: 0px;
}

.content .column_right {
  float:right;
  width:48%;
  margin-right: 0px;
}

.content .column_border_left {
	border-left: 1px solid #EAEAEA;
	padding-left: 2%;
}

.content-header {
	background: #eee url(/images/content-header-bg.png) repeat-x;
	padding: 12px 10px;
	margin-bottom: 15px;
	
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;

	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

.content-header h2, .content-header p {
	margin: 2px !important;
}

.content-header h2 a {
	text-decoration: underline;
}

.content-header .avatar {
	float: left;
	margin-right: 10px;
}

/*
* System menu (home, config, logout)
*/

#user-navigation {
	bottom: 3px;
}

#user-navigation a {
	color: #fff !important;
	padding: 2px;
	display: inline-block;
}

#user-navigation a:hover {
	text-decoration: underline !important;
}

.control {
	float: right;
}

/*
* Forms
*/

input, textarea {
	padding: 4px !important;
}

.form input.text_field, .form textarea.text_area {
	border: 1px solid #ccc;
}

form.formtastic fieldset ol li .empty {
	color: #aaa;
}

form.formtastic fieldset.fancy_fields ol li .empty {
	border: 0 !important;
	margin: 1px;
}

form.formtastic fieldset.fancy_fields ol li span.empty {
	padding: 4px !important;
	display: inline-block;
}

form.formtastic fieldset.fancy_fields ol li .empty:hover,
form.formtastic fieldset.fancy_fields ol li .empty:active {
	border: 0 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none;
	box-shadow: none;
	cursor: pointer;
}

form.formtastic fieldset.fancy_form {
	width: 80%;
	margin: 0 auto;
	display: block;
}

form.formtastic fieldset.fancy_form label {
	width: 15%;
	float: none;
	display: inline-block;
	text-align: right;
	margin: 2px 15px 0 0;
	vertical-align: top;
}

form.formtastic fieldset.fancy_form ol li {
	border-bottom: 1px solid #eee;
	padding: 5px 0 12px 0;
}

form.formtastic fieldset.address_fields ol li {
	border: 0;
	padding-bottom: 5px;
}

form.formtastic fieldset.hidden {
	display: none;
}

form.formtastic fieldset.fancy_form ol li input,
form.formtastic fieldset.fancy_form ol li textarea {
	width: 50% !important;
}

form.formtastic fieldset ol li.three_fields input {
	width: 15% !important;
}

.form label.label {
	padding: 5px 0;
}

label.overlabel {
	position:absolute;
	top:3px;
	left:5px;
	z-index:1;
	color:#999;
}

.data_search {
	border:1px solid #c1c1c1;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	padding:0px;
	margin:0px;
	position:relative;
	float:right;
	width:300px;
	height:25px
}

.data_search:hover {
	border:1px solid #a2a294;
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, 0.3);
	box-shadow:0 0 4px rgba(0, 0, 0, 0.3);
}

.data_search form {
	display:inline
}

.search_box {
	font-family:helvetica, arial, sans-serif;
	font-size:13px;
	border:0px;
	border-right:1px solid #c1c1c1;
	background-color:#fff;
	position:absolute;
	left:0px;
	width:266px;
	height:17px;
	padding-left:6px
}

.search_box.empty {
	color: #999;
	font-style: italic;
}

.search_submit {
	border:0px;
	background:url("/images/search-button.png") no-repeat;
	position:absolute;
	left:273px;
	height:25px;
	width:27px;
	cursor:pointer
}

.table_highlight {
	background-color: #ffff88;
	color: #36393d;
}

/*
* Footer
*/

#footer {
	padding: 0;
}

#footer .block {
	border: 0;
	background: none;
}