<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @dataele_descritor.descricao %>
</p>

<%= link_to 'Edit', edit_dataele_descritor_path(@dataele_descritor) %> |
<%= link_to 'Back', dataele_descritors_path %>
