// Place all the styles related to the Ele2012 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*table.zonas
{
   margin: 0;   
   border-collapse: collapse;
}

table.zonas th
{
   background-color: #fff;
   padding: 3px 8px 3px 8px;
   font-size: 120%;   
   border: 1px solid #00f;
}

table.zonas td
{
   padding: 3px;
   margin: 0;
   text-align: center;
   border: 1px solid #00f;
}

table.zonas tr
{
   margin: 0;
   width: auto;
   background-color: #eef;
}

table.zonas td.ultimo
{
   border-bottom: 2px solid #00c;
}

table.zonas td.sede
{
   background-color: #ccf;
}*/

#hor-zebra
{
	font-family: "Arial", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: center;
	border-collapse: collapse;
}

#hor-zebra th, #hor-zebra td
{
	padding: 8px;
	text-align: center;
}

#hor-zebra th
{
	font-size: 14px;
	/*font-weight: normal;*/
	padding-top: 10px;
	color: #039;
}

#hor-zebra td
{
	color: #669;
}

#hor-zebra .odd
{
	background: #e8edff;
}

/* mods */

#hor-zebra .divide
{
   border-right: 1px dashed #669;
}

#hor-zebra td.ultimo
{
	border-bottom: 1px solid #669;
}

#hor-zebra .sede
{
   color: #00a;
}
